.project-description-box {
    padding: 0px 40px 40px 40px;
    font-family: 'Roboto', Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.collapse-body {
    margin-top: 25px;
}

.title-sections {
    color: rgb(105, 162, 232);
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 2.2em;
}

.p-sections {
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 1.8em;
}

/*
@media screen and (max-width: 710px) {

}

@media screen and (max-width: 375px) {

}
*/